* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

iframe {
  width: 100%;
  height: 50vh;
  border: none;
}


.editor {
  display: flex;
}

.editor pre {
  background: #1E1F20;
  border: 1px solid rgb(211, 211, 211);
  color: rgb(211, 211, 211);
  flex: 1;
  font-size: 16px;
  height: 50vh;
  padding: 30px 10px;
  margin: 0;
  position: relative;
}

.editor pre:before {
  display: block;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#html:before {
  content: 'HTML';
}

#css:before {
  content: 'CSS';
}

#js:before {
  content: 'JS';
}
